@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    --background-color : #eaebee;
    --color : #161616;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: var(--background-color);
    color: var(--color);
}

.navbar-brand img{
    height: 50px;
    width: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.navbar-collapse{
    width: auto;
}

.talk{
    width: 130px !important;
}

#hero{
    height: 100vh;
    width: 100%;
}

.hero__container{
    height: 100%;
}

.hero__heading{
    font-size: 2.5rem;
}

.hero__tagline{
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 300;
}

.hero__image{
    max-width: 100%;
}